body{
    background-color: #bcbcbc;
}

.fullbody{
    height: auto;
    width: 120vh;
    margin-left: 47vh;
    margin-top: 21vh;
    background-color: #ffffff;
}


ul{
    list-style-type: none;
    padding: 8px;
    color: rgb(0, 0, 0);
    overflow: hidden;
    align-items: center; 
}


li{
    float: left;
}

.li{
    width: 13vh;
    border-radius: 2px;
    background-color: #ff4000;
    margin-top: 1vh;
    cursor: pointer;
    margin-left: 1vh;
    font-size: 31px;
    color:rgb(255, 255, 255);
    font-weight: bold;
}

li a{
    padding: 8px;
    margin-top: -2.6vh;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    height: 6vh;
    font-weight: bolder;
    width: 8vh;
    position: relative;
    background-color: #e7460b;
    font-size: 44px;
    margin-left: 14px;
}


select[class=rede]{

    margin-left: 10vh;
    margin-top: 2vh;
    width: 42vh;
    height: 5vh;
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    color:#373535;
    border-bottom: 2px solid #ec550f;
    border-top: none;
    border-right: none;
    border-left: none;
}

select[class=fromss]{

    margin-left: 10vh;
    margin-top: 5vh;
    width: 42vh;
    height: 5vh;
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    color:#373535;
    border-bottom: 2px solid #ec550f;
    border-top: none;
    border-right: none;
    border-left: none;
}

select[class=toss]{
    
    margin-left: 10vh;
    margin-top: 2vh;
    width: 42vh;
    height: 5vh;
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    color:#373535;
    border-bottom: 2px solid #ec550f;
    border-top: none;
    border-right: none;
    border-left: none;
}


input[type=date]{
    width: 42vh;
    height: 6vh;
    background: transparent;
    border-top: none;
    margin-left: 10vh;
    border-right: none;
    border-radius: 8px;
    border-left: none;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    cursor: pointer;
    border-bottom: 2px solid #ff4800;
    outline: none;
    font-family: sans-serif;
}

input[type=date]:hover
{
    border-bottom: 3.2px solid #ff4800;
}


input[type=submit]
{
    height: 6.9vh;
    width: 40vh;
    border: 1px solid #e7460b;
    color:hsl(0, 0%, 100%);
    background-color: #e7460b;
    font-weight: bold;
    font-size: 20px;
    transition: 0.4s ease;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 01vh;
    margin-top: 1.6vh;
}

input[type=submit]:hover{
    background-color: #ffffff;
    color:#e7460b;
    transition: 0.4s ease;
    font-weight: bold;
    font-size: 21.5px;
}



button[type=submit]{

    height: 6vh;
    width: 42vh;
    border: 1px solid #e7460b;
    color:hsl(0, 0%, 100%);
    background-color: #e7460b;
    font-weight: bold;
    font-size: 16px;
    transition: 0.4s ease;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10vh;
    margin-top: 2vh;    
}

button[type=submit]:hover{
    background-color: #ffffff;
    color:#e7460b;
    transition: 0.4s ease;
    font-weight: bold;
    font-size: 18px;
}


.sub{
    height: 10vh;
    width: 42vh;
    background-color: #c5c5c5;
    margin-top: -12vh;
    margin-left: 62vh;
}

h2{
    font-size: 31px;
    font-family: sans-serif;
    margin-left: 20vh;
    font-weight: bolder;
    margin-top: 0vh;
}

hr{
    color: #ffffff;
}
