
body{
    background-color: #c5c4c4;
}

input[type=text],
input[type=email]
{
    margin-left: 2vh;
    margin-top: 2vh;
    width: 90vh;
    height: 4.2vh;
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    color:#000000;
    border-bottom: 2px solid #ec550f;
    border-top: none;
    border-right: none;
    border-left: none;
}


input[type=checkbox]
{
    height: 2.9vh;
    accent-color: #ff4000;
    width: 2.9vh;
    margin-left: 2vh;
}

.fullnav{
    height: auto;
    width: 95vh;
    margin-top: 18vh;
    background-color: #ffff;
    margin-left: 60vh;
}


input[type=submit]
{
    background-color: #ff4000;
    height: 46px;
    margin-top: 4vh;
    width: 80vh;
    margin-left: 9vh;
    font-size: 16px;
    border: 1px solid rgb(58, 227, 24);
    color: #fff;
    font-weight: bold;
    transition: 0.4s ease;
    cursor: pointer;
    border-radius: 8px;

}


input[type=submit]:hover{
    background-color: #fff;
    transition: 0.4s ease;
    font-size: 18px;
    color: #ff6a00;
}

h2{
    margin-left: 20vh;
    font-family: sans-serif;
    margin-top: 0vh;
}